body { 
    margin: 0;
    padding: 0;
    background: #1D242B;
    font-family: Helvetica;
    color: white;
}

header {
    font-size: 24px;
}

header p {
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding-left: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    border: 1px solid orange;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.section-container {
    display: flex;
}

.section-img, .section-text {
    width: 50%
}

.section-img {
    background-position: center;
    background-repeat: no-repeat;
}

.section-text {
    box-sizing: border-box;
    background: white;
    color: #1D242B;
    padding: 100px;
}

#hero .section-img {
    background-image: url("../img/background-1.jpg");
}

#hero h1 {
    font-size: 72px;
    margin: 0;
}

#hero p {
    line-height: 28px;
}

.button {
    background: transparent;
    border: 1px solid #1D242B;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 50px;
}

.button.fill {
    background: #1D242B;
    color: white;
}

/* .banner {
    background: teal;
} */

.banner {
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    font-size: 48px;
}

#about .banner {
    background-image: url("../img/banner-1.jpg");
}

#about .banner h2 {
    color: #1D242B;
}

#about h4 {
    font-size: 24px;
}

.about-text-container {
    box-sizing: border-box;
    padding: 0 20%;
}

.about-text {
    text-align: center;
    line-height: 28px;
}

.photos-container {
    display: flex;
}

.photo-container {
    margin: 0;
    width: 25%;
}

.photo {
    width: 100%;
}

#quote {
    color: #1D242B;
}

#quote .banner {
    background-image: url("../img/banner-2.jpg");
}

#contact .section-img {
    background-image: url("../img/background-2.jpg");
}

#contact h3 {
    font-size: 36px;
    text-align: center;
}

.text-input {
    width: 100%;
    height: 24px;
}

label {
    margin-top: 10px;
    display: block;
}

.button-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 24px;
    border-top: 1px solid #37474f;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none; 
}